body {
    background: linear-gradient(to right,#b33,#248,#aa4);
    width: 28%;
    margin:auto;
    color: white;
    font-family: Roboto, sans-serif;
}

h1 {
    text-align: center;
    font-size: 55px;
    margin: 25px 0;
}

section {
    background: transparent;
    padding: 10px;
    margin: 7px;
}

p {
    display: inline-block;
    margin: 0;
    font-size: large;
}

div button {
    float: right;
    background-color: #f55;
    border: 1px solid #f55;
    font-size: 15px;
    margin: auto;
    margin-right: 0;
}

.new_item {
    text-align: center;
}

.new_item input {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.1em;
    margin: auto;
    width: 78%;
    padding: 4px 8px;
}

.new_item button {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.3em;
    margin: 0 8px;
    padding: 2px 8px;
}

.result {
    background: white;
}

ul {
    list-style: decimal;
    padding-left: 20px;
}

li {
    padding: 4px;
    margin: 5px;
}

.todo li {
    background-color: #d80;
}
.comp li {
    background-color: #0b0;
}

li img {
    height: 17px;
    width: 17px;
    float: right;
    padding: 0 3px;
    cursor: pointer;
}
